{% extends 'base.html.twig' %}


{% block title %}Annonce
{% endblock %}



{% block body %}
	<div class="text-center">
	
		<h2>
			{{ article.title }}</h2>
		<h3> {{ article.description }}</h3>
		<div>
			{% if vich_uploader_asset(article,'coverFile') %}
				<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('thumbnail') }}" alt="image d'une annonce">
			{% endif %}
		</div>

		Vendeur : {{ article.owner.firstname }}

	</div>
{% endblock %}
