{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouvel article{% endblock %}

{% block body %}
    
    <div class="w-50 mx-auto py-5">
       

        {{ form(form) }}
        
    </div>

{% endblock %}