{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouvel article{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    
    
  <link href="{{ asset('css/newarticle.css') }}" rel="stylesheet">
    <div class="new">
       {{ form(form) }}
    </div>
    
{% endblock %}