{% extends 'base.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
<<<<<<< HEAD
    <link href="{{ asset('css/register.css') }}" rel="stylesheet">  
=======
  <link href="{{ asset('css/register.css') }}" rel="stylesheet">  
>>>>>>> eb82a7975de754b0173813f6ac25d6998c86b61f
{% endblock %}
{% block body %}
    <div class="image">

    {{ form(registrationForm) }}
  
   
    
    </div>

  
{% endblock %}
