{% extends 'base.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/test.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="image">
  <link href="{{ asset('css/register.css') }}" rel="stylesheet">  
    {{ form(registrationForm) }}
  
   
    
    </div>

  
{% endblock %}
