@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
p {
    margin-bottom: 0;
}
body {
    overflow: hidden;
}
header {
    background-color: rgb(38, 103, 245);
    padding: 3px 10px 3px 10px;
}
h1 {
    font-size: 1.7rem;
    padding: 3px;
    color: whitesmoke;
}
.firstSec {
    background-color: rgb(48, 48, 48);
    height: 100vh;
    width: 12%;
}
.menu {
    display: flex;
    flex-direction: column;
}
.menu a {
    text-decoration: none;
    color: whitesmoke;
}
.menu a:hover {
    color: rgb(175, 175, 175);
}
.itemMenu {
    display: flex;
    flex-direction: row;
    padding: 18px 0 0 0;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.itemMenu p {
    margin: 0;
}
.now {
    background-color: rgba(17, 17, 17, 0.877);
}
.svgMenu{
    fill: whitesmoke !important;
    margin: 0 10px 0 30px;
}
.arrow {
    width: 20px;
    margin-right: 5px;
    color: whitesmoke;
}
.test {
    display: flex;
}
.test p {
    padding-bottom: 15px;
}
    /* Table article */

main {
    display: flex;
}
.secondSec {
    width: 88%;
}
.tableArticle {
    width: 83%;
    margin: auto;
    margin-top: 95px;
}
.tableArticle td {
    border-bottom: rgb(102, 102, 102) 1px solid;
    font-size: 1.1rem;
    text-align: center;
}
.tableArticle thead{
    border: 1px solid rgb(102, 102, 102);
    background-color:  rgb(43, 107, 245);
    color: whitesmoke;
}
.tableArticle td, .tableArticle th {
    padding: 13px 18px 13px 18px;
    text-align: center;
}
.tableArticle tr {
    margin-top: 10px;
}
.paginat {
    margin-top: 40px;
    margin-left: 38%;
}
.action {
    display: flex;
    gap: 40px;
}
.btnEdit {
    text-decoration: none;
    border: 1px solid #00a000;
    padding: 2px 15px 0px;
    border-radius: 5px;
    color: #00a000;
    font-size: 15px;
}
.btnEdit:hover {
    background-color: #00a000;
    color: white;
}
.editHover {
    padding: 5px;
    display: flex;
    justify-content: center;
}
.editHover svg {
    fill: whitesmoke !important;
}
.editHover p {
    margin-left: 20px;
}
.editMenu {
    display: flex;
    margin-bottom: 5px;
}
    /* Table categorie */

.cate {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.tableCate {
    width: 60%;
    margin: auto;
    margin-top: 95px;
}
.tableCate td{
    border-bottom: rgb(102, 102, 102) 1px solid;
    font-size: 1.1rem;
}
.tableCate thead{
    border: 1px solid rgb(102, 102, 102);
    background-color:  rgb(43, 107, 245);
    color: whitesmoke;
}
.tableCate td, .tableCate th {
    padding: 13px 10px 13px 10px;
    text-align: center;
}
.tableCate tr {
    margin-top: 10px;
}
.edit{
    width: 75%;
    margin: auto;
    margin-top: 90px;
    display: flex;
    gap: 120px;
}
.formLeft, .formRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editButton {
    width: 100%;
}
.formItem{
    margin-top: 5px;
}
.btnEditCate {
    text-decoration: none;
    border: 1px solid #00a000;
    border-radius: 5px;
    color: #00a000;
    font-size: 15px;
    padding: 4px 15px;
}
.btnEditCate:hover {
    background-color: #00a000;
    color: white;
}
    /* Table Users */

.users {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.tableUsers {
    width: 65%;
    margin: auto;
    margin-top: 95px;
}
.tableUsers td{
    border-bottom: rgb(102, 102, 102) 1px solid;
    font-size: 1.1rem;
    text-align: center;
}
.tableUsers thead{
    border: 1px solid rgb(102, 102, 102);
    background-color:  rgb(43, 107, 245);
    color: whitesmoke;
}
.tableUsers td, .tableUsers th {
    padding: 13px 18px 13px 18px;
    text-align: center;
}
.tableUsers tr {
    margin-top: 10px;
}
.btnEditProfil {
    text-decoration: none;
    border: 1px solid #00a000;
    border-radius: 5px;
    color: #00a000;
    font-size: 15px;
    padding: 3px 15px;
}
.btnEditProfil:hover {
    background-color: #00a000;
    color: white;
}
.adminChange {
    display: flex;
    justify-content: space-evenly;
}
.adminChange a {
    width: 15%;
}