* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    width: 114em;
    gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    align-items: start;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.card-content {
    font-size: 3rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: blue;
    margin-bottom: 2.5rem;
}
