footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background: #3c6382;
    z-index: 10;
}

ul {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 25px;
    padding: 0;
}

ul .text {
    font-size: 20px;
    color: white;
}

ul li {
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    color: white;
}