body {
    background-image: url(https://cdn.shopify.com/s/files/1/0070/7032/files/Reusable_water_bottle.png?format=webp&v=1597958401);
    background-size: cover;
    
}
.container {
    
    max-width: 380px;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-sizing: border-box;
    margin-top: 100px;
} 