@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    position: relative;
}

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    margin: 4rem 0;
    height: 80%;
   
  
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;

}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 1.5rem;
    background-color: #f0932b;
    border-radius: 10px;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3D;
    margin-bottom: 2.5rem;
}
.info {
    color: #3d3d3D;
}

.desc {
    color: #0a3d62;
}





/* .container {
    
    max-width: 380px;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-sizing: border-box;
    margin-top: 100px;
} */
h2 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

input {
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    color: #fff;
    padding: 10px 6px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    margin: 20px;
    width: 80%;
    border-radius: 8px ;
    padding: 10px;
    background-color: #7d2ae8;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #a96bff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    background: #3c6382;
    z-index: 10;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 25px;
    padding: 0;
}

footer ul .text {
    font-size: 20px;
    color: white;
}

footer ul li {
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    color: white;
}

@media  screen and (max-width: 575px) {
    .grid {
        
        
        grid-template-columns: repeat(1, 1fr);

    }

    
}
@media screen and (min-width: 576px) and (max-width: 1025px) {
    .grid {
        
        
        grid-template-columns: repeat(2, 1fr);

    }
    
}