{% extends 'base.html.twig' %}

{% block title %}GoodStuff Nouvelle Categories {% endblock %}

{% block body %}
    
        <div class="d-flex align-items-center justify-content-between pb-5">
            <div>
                <h1 class="display-5 m-0">Nouvelle catégorie</h1>
            </div>
                <a href="{{ path('app_category') }}" title="Nouvelle catégorie" class="btn btn-outline-secondary">
                    Retour à la liste
                </a>
        </div>
    <div class="w-50 mx-auto">
       {{ form(form) }}
    </div>    
</div>

{% endblock %}
