{% extends 'base.html.twig' %}

{% block title %}Rechercher
{% endblock %}

{% block body %}
	{% if app.request.method == 'GET' %}

		<div>
			{% if articles | length == 0 %}
				<h4>Aucun résultat pour votre recherche.</h4>
			{% else %}

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Photo</th>
							<th scope="col">Titre</th>
							<th scope="col">Créé le</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					{% for article in articles %}
						<tbody>
							<tr>
								<th scope="row">
									{% if vich_uploader_asset(article,'coverFile') %}
										<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('vignette') }}" alt="image d'une annonce">
									{% endif %}
								</th>
								<td>{{ article.title }}</td>
								<td>{{ article.prix }}
									€</td>
								<td>
									<a href="{{ path('detailArticle', {id: article.id })}}" class="text-decoration-none">Voir plus...</a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			{% endif %}
		</div>

	{% endif %}

{% endblock %}
