{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
   
{% endblock %}

{% block body %}
    
    <div class="container">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Bonjour{#  {{ user.firstname }} #} </h1>
        <p>Veuillez-completer votre compte !</p>

      
        {{ form(form) }}

    </div>

{% endblock %}
