{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
   
{% endblock %}

{% block body %}
    
   
  

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Bonjour{#  {{ user.firstname }} #} </h1>
        <p>Veuillez-completer votre compte !</p>

      
        {{ form(form) }}

    

{% endblock %}
